html {
  height: 100%;
}

body {
  padding: 0px;
  min-height: 100%;
  
  /* Use flexbox for display */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: gainsboro;
  font-family: Arial, Helvetica, sans-serif;
}

#app {
  min-width: 80%;
  min-height: 70%;
  max-height: 80%;
  background: #277714;
  border-radius: 4px;
}

#game-panel {
  height: 100%;
  margin: 0px;
  padding: 3%;

  border: 5px solid black;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.player-panel {
  color: black;
  min-width: 50%;
  margin: 5px;
  /* border: 1px solid black; */
  border-radius: 4px;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}

button {
  outline: none;
}


.img-box{
  text-align: center;
  margin: 0px;
}

img {
  width: 70%;
  height: 70%;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h3 {
  font-size: 12px;
  padding: 10px;
  margin: 0px;
}

h2 {
  color: black;
  line-height: 20%;
  padding: 2px;
  font-size: 18px;
}

#back {
  width: 52%;
  height: 52%;
}

#start-game {
  margin-top: 20px;
  background-color: #f44336;
  border-radius: 4px;
  padding: 15px;
  font-size: 16px;
  border: none;
  color: white;
}

#game-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 40%;
}

.in-game {
  width: 30%;
  padding: 20px;
  background-color: #f44336;
  border-radius: 4px;
  font-size: 12px;
  border: none;
  color: white;
}

#start-game:hover {
  background-color: white;
  color: #f44336;
}

.in-game:hover {
  background-color: white;
  color: #f44336;
}

#save-result {
  width: 20%;
  margin-top: 20px;
  background-color: #f44336;
  border-radius: 4px;
  padding: 15px;
  font-size: 16px;
  border: none;
  color: white;
}

#save-result:hover {
  background-color: white;
  color: #f44336;
}

#win-message {
  text-align: center;
  margin-right: 50px;
  vertical-align: middle;
  margin-top: 40%;
}

#past-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%
}

#win-panel {
  max-height: 60%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

h4 {
  color: gray;
}

#results-box {
  width: 80%;
  max-height: 40%;
  border: 1px solid black;
  border-radius: 4px;
  overflow-y: scroll;
  padding: 5px;
  background-color: gainsboro;
}

#result-header  {
  text-align: center;
}

p {
  word-spacing: 20px;
}